.heading {
    padding: 45px 30px 30px 30px;
    background-color: #00aeef;
    color: #193945;
}

.heading__title {
    margin: 0;
    padding: 0;

    font-size: 35px;
    font-weight: bold;
}

.heading__text {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    padding-right: 100px;
}

.payment-info__wrapper {
    padding: 45px 30px;
    background-color: #f7f8f8;
    color: $text_main;
}

.payment-info__bill {
    margin-bottom: 30px;

    font-family: Arial, Helvetica, sans-serif;
    color: $text_main;
}

.bill__heading {
    margin: 0;
    margin-bottom: 25px;
}

.bill__title {
    font-weight: normal;
    text-align: left;
}

.bill__text {
    display: inline-block;
    margin-left: 45px;
    color: #383d43;
}

.form {
    position: relative;
}

.form__heading {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-size: 22px;
    font-weight: bold;
    color: #383d43;
}

.card-wrapper {
    margin-bottom: 35px;
    padding: 15px;
    width: 350px;
    height: 235px;
    box-sizing: border-box;
    background-color: #f7f8f8;
    border: 1px solid #e4e9ee;
    border-radius: 15px;

    position: relative;
    z-index: 1;
}

.card-wrapper__title {
    margin: 10px 0 5px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #8494ab;
}

.card-wrapper__input,
.card-wrapper__select {
    display: flex;
}

.card-wrapper input,
.card-wrapper select,
.card-wrapper__card-month_div-wrapper,
.card-wrapper__card-year_div-wrapper {
    padding: 10px;
    height: 40px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #383d43;
    background-color: #ffffff;

    box-sizing: border-box;

    border: 1px solid #e4e9ee;
}

.card-wrapper input:invalid {
    outline-color: red;
}

.card-wrapper input:last-child,
.card-wrapper select:last-child {
    margin-right: 0;
} 

.card-wrapper select {
    background-image: url('/img/arrow-down.png');
    background-repeat: no-repeat;
}

.card-wrapper__card-number {
    width: 60px;
}

.card-wrapper__select {
    margin-bottom: 10px;
}

.card-wrapper__card-month, .card-wrapper__card-month_div-wrapper {
    width: 70px;
    background-position: 45px 15px;
}

.card-wrapper__card-year,
.card-wrapper__card-year_div-wrapper {
    width: 85px;
    background-position: 60px 15px;
}

.card-wrapper__card-month_div-wrapper,
.card-wrapper__card-year_div-wrapper {
    position: relative;
    cursor: pointer;

    background: linear-gradient(#FFF, #E6E6E6);
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
    border-radius: 5px;
}

.card-wrapper__card-month_div-wrapper::before,
.card-wrapper__card-year_div-wrapper::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 8px;
    z-index: 4;
    right: 10px;
    top: 17px;
    background-image: url('/img/arrow-down.png');
    background-repeat: no-repeat;
}

.div-options {
    top: 45px;
    left: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    border-radius: 5px;
}

.div-options__item {
    width: 100%;
    padding: 7px 15px;
    background-color: #fff;
    box-sizing: border-box;

    font-size: 13px;

    cursor: pointer;
}

.div-options__item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div-options__item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div-options__item:hover {
    background-color: #00aeef;
}

.card-wrapper__card-holder {
    display: block;
    width: 100%;
}


// .card-wrapper__card-holder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//     color: #bec6cf;
// }
// .card-wrapper__card-holder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//     color: #bec6cf;
// }
// .card-wrapper__card-holder::-moz-placeholder { /* Mozilla Firefox 19+ */
//     color: #bec6cf;
// }
// .card-wrapper__card-holder:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #bec6cf;
// }
// .card-wrapper__card-holder::-ms-input-placeholder { /* Microsoft Edge */
//     color: #bec6cf;
// }

.card-wrapper__card-holder::placeholder { /* Most modern browsers support this now. */
    color: #bec6cf;
}

.card-wrapper_back {
    width: 370px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    position: absolute;
    left: 190px;
    bottom: 20px;
    z-index: 0;
}

.card-wrapper_back:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #e4e9ee;
    top: 25px;
    left: 0;
}

.card-wrapper__cardCVC{
    width: 140px;
    
}

.card-wrapper_back input {
    margin-right: 0;
    color: #bec6cf;
}

.card-wrapper__hint {
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 26px;
    top: 122px;
    right: 25px;
    background-image: url('/img/cvc-hint.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.form__send-button {
    padding: 12px 50px;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    background: #A5C900;
    background: -webkit-linear-gradient(top, #A5C900, #87B600);
    background: -moz-linear-gradient(top, #A5C900, #87B600);
    background: linear-gradient(to bottom, #A5C900, #87B600);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form__send-button:hover {
    background: #7F8591;
background: -webkit-linear-gradient(top, #7F8591, #373D43);
background: -moz-linear-gradient(top, #7F8591, #373D43);
background: linear-gradient(to bottom, #7F8591, #373D43);
}

.payment-info__text {
    padding: 30px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7f8591;
    background-color: $footer;
}

.payment-info__text p {
    margin-top: 0;
}

@media (max-width: $mobile-width) {

    .heading__text {
        padding: 0;
    }

    .card-wrapper_back {
        width: 350px;
        position: relative;
        left: 0;
    }
}

@media (max-width: $mobileSmall-width) {

    .heading__title {
        margin-bottom: 30px;
    }

    .bill__heading {
        text-align: center;
    }

    .form__heading {
        text-align: center;
    }

    .card-wrapper, .card-wrapper_back {
        width: 260px;
    }

    .card-wrapper input {
        padding: 10px 8px;
    }

    .card-wrapper__card-number {
        width: 50px;
    }

    .form__send-button {
        display: block;
        margin: 0 auto;
    }
}